<footer class="bg-dark mt-auto py-4">
        <div class="container px-5">
            <div class="row flex-column justify-content-between align-items-center flex-sm-row">
                <div class="col-auto">
                    <div class="text-white small m-0"><span>Copyright © LuLu Moonwalk 2023</span></div>
                </div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">About Us</a>
                    <span class="text-white mx-1">·</span>
                    <a class="link-light small" href="#!">Contact</a>
                    <span class="text-white mx-1">·</span>
                    <a class="link-light small" href="#!">New Footer</a>
                </div>
            </div>
        </div>
    </footer>