/*
Any main css configurations that apply to the entire website should go here.
*/
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    min-height: 100px;
    font-size: 25px;
}

.navbar-brand {
    font-size: 25px;
}

#moonwalkheaderlogo {
    height: 115px;
}
