<!DOCTYPE html>
{% include 'navbar.html' %}
{% load static %}
<html lang="en" style="height: 100%;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Modern Business - Start Bootstrap Template</title>
    <link rel="stylesheet" href="{% static 'mainsite/css/bootstrap.min.css' %}">
</head>
<body class="flex-column d-flex" style="height: 100%;"><title>Modern Business - Start Bootstrap Template</title>
<link rel="icon" type="image/x-icon" href="assets/favicon.ico">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
<link href="{% static 'mainsite/css/styles.css' %}" rel="stylesheet">
    <main class="flex-shrink-0" style="background: linear-gradient(#3B8BEB 20%, var(--bs-gray-100) 88%, #E7E3D4 100%), #c4dbf6;">
        <section class="py-5">
            <div class="container px-5">
                <div class="row gx-5 row-cols-2 row-cols-lg-4 d-xxl-flex justify-content-evenly justify-content-xxl-center py-5" style="display: inline-flex;">
                    <div class="col d-grid justify-content-center">
                        <div class="text-white bg-primary bg-gradient feature rounded-3 mb-3" style="background: rgb(178,56,80);--bs-primary: #8590AA;--bs-primary-rgb: 133,144,170;"><i class="bi bi-envelope"></i></div>
                        <div class="h5"><span>Email us: </span></div>
                        <p class="mb-0" style="color: rgb(255,255,255);">Email us your questions at </p><a href="#!" style="color: rgb(255,255,255);">lulutheclown4u@yahoo.com</a>
                    </div>
                    <div class="col d-grid justify-content-center">
                        <div class="text-white bg-primary bg-gradient feature rounded-3 mb-3" style="--bs-primary: #8590AA;--bs-primary-rgb: 133,144,170;"><i class="bi bi-phone"></i></div>
                        <div class="h5"><span>Text us: </span></div>
                        <p class="mb-0" style="color: rgb(255,255,255);">Text us during normal business hours at (713) 456-9113.</p>
                    </div>
                    <div class="col d-grid justify-content-center">
                        <div class="text-white bg-primary bg-gradient feature rounded-3 mb-3" style="--bs-primary: #8590AA;--bs-primary-rgb: 133,144,170;"><i class="bi bi-telephone"></i></div>
                        <div class="h5"><span>Call us: </span></div>
                        <p class="mb-0" style="color: rgb(255,255,255);">Call us during normal business hours at (713) 475-2009.</p>
                    </div>
                </div>
                <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5" style="background: linear-gradient(#c4dbf6 15%, var(--bs-gray-100) 75%, white), #c4dbf6;">
                    <div class="text-center mb-5">
                        <div class="text-white bg-primary bg-gradient feature rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                        <h1 class="fw-bolder" style="color: #3B8BEB;">Get in touch</h1>
                        <p class="lead fw-normal text-muted mb-0">We'd love to hear from you</p>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <form id="contactForm" method="POST">
                                {% csrf_token %}
                                {% if messages and request.method == "POST" %}
                                    <!--May have to consider displaying an alternate success message-->
                                    <div class="container">
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="transition-duration: 5s;">
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        Your message has been sent !
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% for field in form %}
                                        <div class="form-floating mb-3">
                                            {{ field }}
                                            <label for="{{ field.id }}">{{ field.label }}</label>
                                        </div>
                                    {% endfor %}
                                    <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include 'footer.html' %}
    <script src="{% static 'mainsite/js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>