<!DOCTYPE html>
{% include 'navbar.html' %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content />
        <meta name="author" content />
        <title>Modern Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{% static 'mainsite/css/bootstrap.min.css' %}">
        <link href="{% static 'mainsite/css/styles.css' %}" rel="stylesheet" />
        <style>
          .carousel-item {
            transition: transform 2s ease, opacity .5s ease;
          }
        </style>
    </head>
<body class="flex-column d-flex">
        <section class="bg-light py-5" style="background: linear-gradient(#3B8BEB 20%, var(--bs-gray-100) 88%, #E7E3D4 100%), #c4dbf6;">

            <!--START CAROUSEL-->
            <header class="bg-light py-5" style="background: #3B8BEB;">
                <div class="container px-5">
                        <font color="white">
                        Your choice of moonwalk comes with a themed banner of your choice.
                        <br>
                        <small>* Banners do not go on waterslides</small>
                        </font>
                    <div class="row gx-5 justify-content-center align-items-center">
                        <!--Left Column-->
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                        <div class="container">
                              <div id="carousel-example-generic" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                  <button type="button" data-bs-target="#carousel-example-generic" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                  <button type="button" data-bs-target="#carousel-example-generic" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                  <button type="button" data-bs-target="#carousel-example-generic" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    <button type="button" data-bs-target="#carousel-example-generic" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                    <button type="button" data-bs-target="#carousel-example-generic" data-bs-slide-to="4" aria-label="Slide 5"></button>
                                    <button type="button" data-bs-target="#carousel-example-generic" data-bs-slide-to="5" aria-label="Slide 6"></button>
                                </div>
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img src="{% static 'mainsite/img/banners/angrybirds_theme.jpg' %}" alt="First slide">
                                  </div>
                                  <div class="carousel-item">
                                    <img width="500" height="261" src="{% static 'mainsite/img/banners/barbie_theme.jpg' %}" alt="Second slide">
                                  </div>
                                  <div class="carousel-item">
                                    <img width="500" height="261" src="{% static 'mainsite/img/banners/mermaid_theme.jpg' %}" alt="Third slide">
                                  </div>
                                    <div class="carousel-item">
                                    <img width="500" height="261" src="{% static 'mainsite/img/banners/amongus_theme.jpg' %}" alt="Fourth slide">
                                  </div>
                                    <div class="carousel-item">
                                    <img width="500" height="261" src="{% static 'mainsite/img/banners/batman_theme.jpg' %}" alt="Fifth slide">
                                  </div>
                                    <div class="carousel-item">
                                    <img width="500" height="261" src="{% static 'mainsite/img/banners/legomovie_theme.jpg' %}" alt="Sixth slide">
                                  </div>
                                </div>
                                <button class="carousel-control-prev" data-bs-target="#carousel-example-generic" type="button" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" data-bs-target="#carousel-example-generic" type="button" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                              </div>
                            </div>

                            <script src="{% static 'mainsite/js/carousel/dom/event-handler.js' %}"></script>
                            <script src="{% static 'mainsite/js/carousel/dom/selector-engine.js' %}"></script>
                            <script src="{% static 'mainsite/js/carousel/dom/manipulator.js' %}"></script>
                            <script src="{% static 'mainsite/js/carousel/dom/data.js' %}"></script>
                            <script src="{% static 'mainsite/js/carousel/base-component.js' %}"></script>
                            <script src="{% static 'mainsite/js/carousel/carousel.js' %}"></script>
                            <script>
                              var t0
                              var t1
                              var carousel = document.getElementById('carousel-example-generic')

                              // Test to show that the carousel doesn't slide when the current tab isn't visible
                              // Test to show that transition-duration can be changed with css
                              carousel.addEventListener('slid.bs.carousel', function (event) {
                                t1 = performance.now()
                                console.log('transition-duration took ' + (t1 - t0) + 'ms, slid at ', event.timeStamp)
                              })
                              carousel.addEventListener('slide.bs.carousel', function () {
                                t0 = performance.now()
                              })
                            </script>
                        </div>
                        <!--Right Column-->
                        <div class="col-xl-5 col-xxl-6 text-center d-none d-xl-block">
                            <img src="{% static 'mainsite/img/attention sign.jpg' %}">
                        </div>
                    </div>
                </div>
            </header>
            <!--END CAROUSEL-->
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Moonwalks</h1>
                </div>a
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="text-uppercase fw-bold small"><i class="text-warning bi bi-star-fill"></i><span>Moonwalk</span><img class="img-fluid" src="{% static 'mainsite/img/moonwalks/mw001.png' %}" width="308" height="294"></div>
                                <div class="mb-3"><span class="fw-bold display-4">$125</span><span class="text-muted">cash</span></div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Blue - Red - Green</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Size: 13' x 13' </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Basketball Hoop Inside</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i> Space Needed: 15' x 18' x 14' </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i> +3% for Credit Purchases </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i> Select Banner at Bottom of Page</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i></li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-primary" role="button" href="#!">Add to Cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="text-uppercase fw-bold small"><i class="text-warning bi bi-star-fill"></i><span>Moonwalk</span><img class="img-fluid" src="{% static 'mainsite/img/moonwalks/mw002.png' %}" width="273" height="293"></div>
                                <div class="mb-3"><span class="fw-bold display-4">$125</span><span class="text-muted">cash</span></div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Blue - Pink - Purple</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Size: 13' x 13' </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Basketball Hoop Inside</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i> Space Needed: 15' x 18' x 14' </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i> +3% for Credit Purchases </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Select Banner at Bottom of Page</li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-primary" role="button" href="#!">Add to Cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4">
                        <div class="card">
                            <div class="card-body p-5">
                                <div class="text-uppercase fw-bold small"><i class="text-warning bi bi-star-fill"></i><span>Moonwalk</span><img class="img-fluid" src="{% static 'mainsite/img/moonwalks/mw003.png' %}" width="272" height="293"></div>
                                <div class="mb-3"><span class="fw-bold display-4">$125</span><span class="text-muted">cash</span></div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Red - Blue - Yellow</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Size: 13' x 13' </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Basketball Hoop Inside</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i> Space Needed: 15' x 18' x 14' </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i> +3% for Credit Purchases </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Select Banner at Bottom of Page</li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-primary" role="button" href="#!">Add to Cart</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Moonwalks with Slide</h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="text-uppercase fw-bold small"><i class="text-warning bi bi-star-fill"></i><img class="img-fluid" src="{% static 'mainsite/img/moonwalks/mw005.png' %}" width="311" height="250"></div>
                                <div class="mb-3"><span class="fw-bold display-4">$245</span><span class="text-muted">cash</span></div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Red - Blue</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Size: 13' x 21' x 15'</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Basketball Hoop Inside</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i> +3% for Credit Purchases </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Select Banner at Bottom of Page</li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-primary" role="button" href="#!">Add to Cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="text-uppercase fw-bold small"><i class="text-warning bi bi-star-fill"></i><img class="img-fluid" src="{% static 'mainsite/img/moonwalks/mw006.png' %}" width="233" height="250"></div>
                                <div class="mb-3"><span class="fw-bold display-4">$165</span><span class="text-muted">cash</span></div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Pink - Purple - Blue - Green</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Size: 13' x 21' x 15'</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Basketball Hoop Inside</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i> +3% for Credit Purchases </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Select Banner at Bottom of Page</li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-primary" role="button" href="#!">Add to Cart</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Waterslides</h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="text-uppercase fw-bold small"><i class="text-warning bi bi-star-fill"></i><span>Waterslide</span><img class="img-fluid" src="{% static 'mainsite/img/moonwalks/mw008.png' %}" width="266" height="177"></div>
                                <div class="mb-3"><span class="fw-bold display-4">$225</span><span class="text-muted">cash</span></div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Blue - Red - Yellow</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Size: 12' x 12' x 21'</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Basketball Hoop Inside</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i> +3% for Credit Purchases </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Water Hose not Included</li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-primary" role="button" href="#!">Add to Cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="text-uppercase fw-bold small"><i class="text-warning bi bi-star-fill"></i><span>Waterslide</span><img class="img-fluid" src="{% static 'mainsite/img/moonwalks/mw009.png' %}" width="305" height="178"></div>
                                <div class="mb-3"><span class="fw-bold display-4">$275</span><span class="text-muted">cash</span></div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Blue - Green - Yellow</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Size: 15' x 12' x 27'</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Basketball Hoop Inside</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i> +3% for Credit Purchases </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Water Hose not Included</li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-primary" role="button" href="#!">Add to Cart</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container px-5 my-5">
                <div class="text-center mb-5"></div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="text-uppercase fw-bold small"><i class="text-warning bi bi-star-fill"></i><span>Waterslide</span><img class="img-fluid" src="{% static 'mainsite/img/moonwalks/mw010.png' %}" width="247" height="161"></div>
                                <div class="mb-3"><span class="fw-bold display-4">$285</span><span class="text-muted">cash</span></div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Blue - Grey</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Size: 16' x 14' x 26'</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Basketball Hoop Inside</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i> +3% for Credit Purchases </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Water Hose not Included</li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-primary" role="button" href="#!">Add to Cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="text-uppercase fw-bold small"><i class="text-warning bi bi-star-fill"></i><span>Waterslide</span><img class="img-fluid" src="{% static 'mainsite/img/moonwalks/mw011.png' %}" width="274" height="161"></div>
                                <div class="mb-3"><span class="fw-bold display-4">$285</span><span class="text-muted">cash</span></div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Blue - Yellow - Green - Red</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Size: 16' x 14' x 26'</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Basketball Hoop Inside</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i> +3% for Credit Purchases </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Water Hose not Included</li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-primary" role="button" href="#!">Add to Cart</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="lead fw-normal text-muted mb-0">Restrictions:<br>No refunds after setup.<br>One day or same day cancellation due to rain is eligible for refund.<br>No setups under pecan or blueberry trees to prevent staining.&nbsp;</p>
        </section>
    <footer class="bg-dark mt-auto py-4">
        <div class="container px-5">
            <div class="row flex-column justify-content-between align-items-center flex-sm-row">
                <div class="col-auto">
                    <div class="text-white small m-0"><span>Copyright © Your Website 2022</span></div>
                </div>
                <div class="col-auto"><a class="link-light small" href="#!">Privacy</a><span class="text-white mx-1">·</span><a class="link-light small" href="#!">Terms</a><span class="text-white mx-1">·</span><a class="link-light small" href="#!">Contact</a></div>
            </div>
        </div>
    </footer><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script><script src="{% static 'mainsite/js/scripts.js'%}}"></script>
    <script src="{% static 'mainsite/js/bootstrap.min.js' %}"></script>
</body>
</html>