<!DOCTYPE html>
{% include 'navbar.html' %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content />
        <meta name="author" content />
        <title>Modern Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'mainsite/css/styles.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'mainsite/css/bootstrap.min.css' %}">
    </head>
<body class="flex-column d-flex">
        <section class="bg-light py-5" style="background: linear-gradient(#3B8BEB 20%, var(--bs-gray-100) 88%, #E7E3D4 100%), #c4dbf6;">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Moonwalks</h1>
                </div>a
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="text-uppercase fw-bold small"><i class="text-warning bi bi-star-fill"></i><span>Moonwalk</span><img class="img-fluid" src="{% static 'mainsite/img/moonwalks/mw001.png' %}" width="308" height="294"></div>
                                <div class="mb-3"><span class="fw-bold display-4">$125</span><span class="text-muted">cash</span></div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Blue - Red - Green</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Size: 13' x 13' </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Basketball Hoop Inside</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i> Space Needed: 15' x 18' x 14' </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i> +3% for Credit Purchases </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i> Select Banner at Bottom of Page</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i></li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-primary" role="button" href="#!">Add to Cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="text-uppercase fw-bold small"><i class="text-warning bi bi-star-fill"></i><span>Moonwalk</span><img class="img-fluid" src="{% static 'mainsite/img/moonwalks/mw002.png' %}" width="273" height="293"></div>
                                <div class="mb-3"><span class="fw-bold display-4">$125</span><span class="text-muted">cash</span></div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Blue - Pink - Purple</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Size: 13' x 13' </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Basketball Hoop Inside</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i> Space Needed: 15' x 18' x 14' </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i> +3% for Credit Purchases </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Select Banner at Bottom of Page</li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-primary" role="button" href="#!">Add to Cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4">
                        <div class="card">
                            <div class="card-body p-5">
                                <div class="text-uppercase fw-bold small"><i class="text-warning bi bi-star-fill"></i><span>Moonwalk</span><img class="img-fluid" src="{% static 'mainsite/img/moonwalks/mw003.png' %}" width="272" height="293"></div>
                                <div class="mb-3"><span class="fw-bold display-4">$125</span><span class="text-muted">cash</span></div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Red - Blue - Yellow</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Size: 13' x 13' </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Basketball Hoop Inside</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i> Space Needed: 15' x 18' x 14' </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i> +3% for Credit Purchases </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Select Banner at Bottom of Page</li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-primary" role="button" href="#!">Add to Cart</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Moonwalks with Slide</h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="text-uppercase fw-bold small"><i class="text-warning bi bi-star-fill"></i><img class="img-fluid" src="{% static 'mainsite/img/moonwalks/mw005.png' %}" width="311" height="250"></div>
                                <div class="mb-3"><span class="fw-bold display-4">$245</span><span class="text-muted">cash</span></div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Red - Blue</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Size: 13' x 21' x 15'</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Basketball Hoop Inside</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i> +3% for Credit Purchases </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Select Banner at Bottom of Page</li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-primary" role="button" href="#!">Add to Cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="text-uppercase fw-bold small"><i class="text-warning bi bi-star-fill"></i><img class="img-fluid" src="{% static 'mainsite/img/moonwalks/mw006.png' %}" width="233" height="250"></div>
                                <div class="mb-3"><span class="fw-bold display-4">$165</span><span class="text-muted">cash</span></div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Pink - Purple - Blue - Green</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Size: 13' x 21' x 15'</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Basketball Hoop Inside</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i> +3% for Credit Purchases </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Select Banner at Bottom of Page</li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-primary" role="button" href="#!">Add to Cart</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Waterslides</h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="text-uppercase fw-bold small"><i class="text-warning bi bi-star-fill"></i><span>Waterslide</span><img class="img-fluid" src="{% static 'mainsite/img/moonwalks/mw008.png' %}" width="266" height="177"></div>
                                <div class="mb-3"><span class="fw-bold display-4">$225</span><span class="text-muted">cash</span></div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Blue - Red - Yellow</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Size: 12' x 12' x 21'</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Basketball Hoop Inside</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i> +3% for Credit Purchases </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Water Hose not Included</li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-primary" role="button" href="#!">Add to Cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="text-uppercase fw-bold small"><i class="text-warning bi bi-star-fill"></i><span>Waterslide</span><img class="img-fluid" src="{% static 'mainsite/img/moonwalks/mw009.png' %}" width="305" height="178"></div>
                                <div class="mb-3"><span class="fw-bold display-4">$275</span><span class="text-muted">cash</span></div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Blue - Green - Yellow</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Size: 15' x 12' x 27'</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Basketball Hoop Inside</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i> +3% for Credit Purchases </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Water Hose not Included</li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-primary" role="button" href="#!">Add to Cart</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container px-5 my-5">
                <div class="text-center mb-5"></div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="text-uppercase fw-bold small"><i class="text-warning bi bi-star-fill"></i><span>Waterslide</span><img class="img-fluid" src="{% static 'mainsite/img/moonwalks/mw010.png' %}" width="247" height="161"></div>
                                <div class="mb-3"><span class="fw-bold display-4">$285</span><span class="text-muted">cash</span></div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Blue - Grey</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Size: 16' x 14' x 26'</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Basketball Hoop Inside</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i> +3% for Credit Purchases </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Water Hose not Included</li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-primary" role="button" href="#!">Add to Cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="text-uppercase fw-bold small"><i class="text-warning bi bi-star-fill"></i><span>Waterslide</span><img class="img-fluid" src="{% static 'mainsite/img/moonwalks/mw011.png' %}" width="274" height="161"></div>
                                <div class="mb-3"><span class="fw-bold display-4">$285</span><span class="text-muted">cash</span></div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Blue - Yellow - Green - Red</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Size: 16' x 14' x 26'</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Basketball Hoop Inside</li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i> +3% for Credit Purchases </li>
                                    <li class="mb-2"><i class="text-primary bi bi-check"></i>Water Hose not Included</li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-primary" role="button" href="#!">Add to Cart</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="lead fw-normal text-muted mb-0">Restrictions:<br>No refunds after setup.<br>One day or same day cancellation due to rain is eligible for refund.<br>No setups under pecan or blueberry trees to prevent staining.&nbsp;</p>
        </section>
    <footer class="bg-dark mt-auto py-4">
        <div class="container px-5">
            <div class="row flex-column justify-content-between align-items-center flex-sm-row">
                <div class="col-auto">
                    <div class="text-white small m-0"><span>Copyright © Your Website 2022</span></div>
                </div>
                <div class="col-auto"><a class="link-light small" href="#!">Privacy</a><span class="text-white mx-1">·</span><a class="link-light small" href="#!">Terms</a><span class="text-white mx-1">·</span><a class="link-light small" href="#!">Contact</a></div>
            </div>
        </div>
    </footer><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script><script src="js/scripts.js"></script>
    <script src="{% static 'mainsite/js/bootstrap.min.js' %}"></script>
</body>
</html>